# Server
SERVER_PORT=8080

# SSL (production)
SSL_ENABLED=false
SSL_KEYSTORE_PATH=/etc/nexus/keystore.p12
SSL_KEYSTORE_PASSWORD=changeit
SSL_KEYSTORE_TYPE=PKCS12

# Database
DB_URL=jdbc:postgresql://localhost:5432/nexus
DB_USERNAME=nexus
DB_PASSWORD=nexus_dev

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=nexus-job-queue

# JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
